/*
    main-0.17.1.css
    by Adrian Unger <hello@staydecent.ca>

    organization based on:
     http://developers.whatwg.org/content-models.html

    01 - Reset
    02 - Structure
    03 - Headings
    04 - Text
    05 - Lists
    06 - Forms
    07 - Embeds
    08 - Grid / Reusable
    09 - Media Queries
    10 - Print
*/

/* 
    01 - Reset 
*/
h1,h2,h3,h4,h5,h6,address,blockquote,div,p,pre,code,body,dl,dt,dd,ol,ul,li,fieldset,form,input,legend,textarea { 
    margin:0; 
    padding:0; 
}
object { 
    outline:none; 
}
header,article,footer,section,hgroup {
    display:block;
}

/* 
    02 - Structure
*/
html {
    position:relative;
    overflow-y:scroll; /* Force scrollbar */
    -webkit-text-size-adjust:100%; /* Remove iOS text size adjust without disabling user zoom */
}
body {
    font:16px/1.6 'PT Serif', Georgia, serif;
    *font-size:1em; /* IE7 and older:IE can't resize px based text and most mobiles don't default the text to 16px */
    color:#111;
    background:#f5f5f5;
    border-top:6px solid #333;
}
.container {
    padding-left:20px;
    padding-right:20px;
}
.inner {
    width:100%;
    max-width:1140px;
    min-width:755px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
#intro {
    margin-top:128px;
    margin-bottom:24px;
    padding-bottom:12px;
    text-align:center;
}
#main {
    padding-top:42px;
    padding-bottom:24px;
}
nav {
    background:#333;
    padding:4px 4px 2px;
}
#tagline {
    font-size:42px;
    width:72%;
    margin:0 auto;
}
.postContent,
.entry {
    padding-bottom:18px;
    position:relative;
}
#foot {
    padding-top:42px;
    padding-bottom:42px;
}

/* 
    03 - Headings
*/
#wordmark, #s {
    opacity:0.8;
    transition:opacity 0.3s ease;
    -webkit-transition:opacity 0.3s ease;
    -moz-transition:opacity 0.3s ease;
    -o-transition:opacity 0.3s ease;
}
#wordmark:hover, #s:hover {
    opacity:1;
}
h1 {
    font:400 normal 48px/1.5 'PT Serif', Georgia, serif;
    margin-bottom:24px;
    color:#444;
    text-shadow:1px 1px 0px #fff;
}
h2 {
    font:800 18px/1.4 'Hevetica Neue', Arial, Helvetica, sans-serif;
    color:#111;
    padding-bottom:6px;
    margin-bottom:14px;
}
h3 {
    font:800 normal 24px/1.3 'Hevetica Neue', Arial, Helvetica, sans-serif;
    color:#333;
    margin:1px 0 0px 24px;
}
h4 {
    font:800 normal 16px/1.5 'Hevetica Neue', Arial, Helvetica, sans-serif;
    color:#333;
    margin-top:24px;
    margin-left:24px;
}
h5,
h6 {
    font-family:'Hevetica Neue', Arial, Helvetica, sans-serif;
    font-weight:400;
    font-style:italic;
    line-height:1.5;
    margin:24px 0 24px 24px;
}
.section {
    font-size:16px;
}
.title {
    font:800 18px/1.3 'Hevetica Neue', Arial, Helvetica, sans-serif;
    padding-bottom:6px;
    margin-bottom:8px;
    margin-left:0;
}
.work .title {
    font:800 14px/1.3 'Hevetica Neue', Arial, Helvetica, sans-serif;
    padding:12px 14px 0px 14px;
    margin-left:0;
}
.listTitle {
    font:800 12px/1.3 'Hevetica Neue', Arial, Helvetica, sans-serif;
    border-bottom:4px solid #333;
    padding:24px 0 12px;
    margin:0;
    text-transform:uppercase;
}

/* 
    04 - Text
*/
#s {
    display:block;
    float:left;
    width:27px;
    height:43px;
    text-indent:-9999px;
    overflow:hidden;
    background:transparent url(../images/s.png) no-repeat;
    line-height:0;
    margin:0;
    padding:0;

}
a {
    color:#0eb04f;
    text-decoration:none;
    transition:color 0.2s ease;
    -webkit-transition:color 0.2s ease;
    -moz-transition:color 0.2s ease;
    -o-transition:color 0.2s ease;
}
a:visited {
    color:#5fbe7b;
}
a:hover {
    color:#1a1a1a;
    text-decoration:underline;
}
.navLink, 
.navLink:visited {
    color:#eee;
    font-weight:800;
    text-decoration:none;
    font-family:'Hevetica Neue', Arial, Helvetica, sans-serif;
    font-size:12px;
}
.navLink:hover, 
.navLink.current{
    color:#5fbe7b !important;
    text-decoration:none;
}
#mainNav {
    margin:4px 0 0 8px;
}
#mainNav > .navItem > .navLink {
    display:block;
    padding:8px 4px 8px 8px;
}
.footNav .navLink {
    font-size:12px;
    font-weight:400;
    color:#ccc;
}
.footNav .navLink:hover {
    color:#fff;
}
#foot a:hover {
    color:#fff;
}
.grey,
.meta {
    color:#7f7f7f !important;
    text-decoration:none;
}
.black {
    color:#111 !important;
}
a.grey:hover {
    color:#333;
}
.rev {
    color:#333 !important;
    text-decoration:none;
}
.rev:hover {
    text-decoration:underline;
}
.rev:visited {
    color:#333 !important;
}
.button {
    padding:4px 8px;
    background-color:#fff;
    font-weight:800;
    font-family:'Hevetica Neue', Arial, Helvetica, sans-serif;
    color:#555 !important;
    box-shadow:0px 0px 8px #eee;
        -webkit-box-shadow:0px 0px 8px #eee;
        -moz-box-shadow:0px 0px 8px #eee;
        -o-box-shadow:0px 0px 8px #eee;
        -ie-box-shadow:0px 0px 8px #eee;
    border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -o-border-radius:4px;
        -ie-border-radius:4px;
    transition:background-color 0.2s ease;
        -webkit-transition:background-color 0.2s ease;
        -moz-transition:background-color 0.2s ease;
        -o-transition:background-color 0.2s ease;
}
.button:hover {
    background-color:#333;
    color:#fff !important;
}
.centre {
    text-align:center;
}
address,
cite,
dfn,
em,
var,
.published { 
    font-style:italic;
}
.published {
    display:block;
    padding-top:1px;
}
.workInfo {
    font-size:12px;
    border-top:1px solid #ddd;
    margin:24px 0;
    padding-top:4px;
}
abbr[title],
dfn[title] {
    border-bottom:1px dotted #333;
    cursor:help;
}
strong,
b {
    font-weight:800;
    font-style:normal;
}
small {
    font-size:12px;
}
pre {
    padding:11px 9px;
    background:#272822;
    margin-bottom:21px;
    overflow-x:scroll;
    color:#eee;
}
code {
    background:#f5f5f5;
    color:#1a1a1a;
    font-family:'Consolas', monospace;
}
pre > code {
    background:transparent;
    color:inherit;
}
blockquote,
.aside {
    position:relative;
    width:72%;
    margin-left:24%;
    padding:0 16px 12px;
    clear:left;
}
blockquote,
blockquote > p,
.aside {
    font:400 italic 16px/1.5 'PT Serif', Georgia, Helvetica, sans-serif;
    color:#999;
}
q {
    font-style:italic;
    color:#999;
    padding-bottom:24px;
}
q:before,
q:after {
    content:"";
}
p {
    font:400 16px/1.65 'PT Serif', Georgia, serif;
    text-indent:0;
    margin-bottom:16px;
    color:#444;
}
p + p,
blockquote + p {
    text-indent:24px;
}
p.big {
    font:400 italic 24px/1.5 'PT Serif', Georgia, serif;
    color:#7f7f7f;
    padding-bottom:9px;
    text-indent:0;
}
p.big.ger {
    font:400 36px/1.4 'PT Serif', Georgia, serif;
}
.excerpt {
    font-size:12px;
    color:#7f7f7f;
}
.work .excerpt {
    padding:0px 14px;
}
.sans-serif {
    font-family:'Hevetica Neue', Arial, Helvetica, sans-serif;
}
::selection {
    background:#333;
    color:#7f7f7f;
} 
#foot,
#foot p {
    background:#333;
    color:#aaa;
    text-shadow:1px 1px 0px #111;
}
#foot ::selection {
    background:#333;
    color:#fff;
}
.footNav {
    margin:3px;
    border-top:1px solid #444;
}
#foot small {
    font:400 12px/1.6 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color:#919489;
}

/* 
    05 - Lists 
*/
ol,
ul { 
    padding:0;
}
ol > li { 
    list-style:inside; 
}
ul > li { 
    list-style:inside; 
}
li.nostyle {
    list-style:none inside none;
}
li.underline {
    border-bottom:1px solid #ddd;
    padding:8px 8px 7px;
    color:#444;
    font-size:12px;
    list-style:none inside none;
}
.postContent > ul,
.postContent > ol {
   margin:24px 0;
   color:#444;
}
.navItem {
    list-style:none;
    display:inline-block;
}
.footNav .navItem {
    padding-right:16px;
    display:inline-block;
}

/* 
    06 - Forms
*/
#searchform {
    display:block;
    border:0;
    padding:0;
    padding-top:6px;
}
#search {
    display:block;
    width:80%;
    float:right;
    border:0;
    background:#555 url(../images/search-white.png) no-repeat 6px 5px;
    font:400 normal 12px/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color:#eee;
    padding:3px 0px 3px 24px;
    border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -o-border-radius:4px;
        -ie-border-radius:4px;
    border:1px solid transparent;
    -webkit-transition:background-color 0.2s ease;
    -moz-transition:background-color 0.2s ease;
    -o-transition:background-color 0.2s ease;
    transition:background-color 0.2s ease;
}
#search:hover,
#search:focus {
    background-color:#f5f5f5;
    background-image:url(../images/search.png);
    color:#7f7f7f;
}
label {
    display:block;
    font-style:italic;
    clear:both;
}
input[type=text],
textarea {
    border:0;
    background:#fff;
    padding:4px;
    margin-bottom:12px;
    border:1px solid #ddd;
    border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -o-border-radius:4px;
        -ie-border-radius:4px;
}
.error {
    border:1px solid #f30;
}
#success {
    text-indent:0;
    padding:16px;
    font:400 normal 12px/1.4 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background:#5fbe7b;
    color:#fff;
    border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -o-border-radius:4px;
        -ie-border-radius:4px;
}

/* 
    07 - Embeds
*/
img { 
    border:0; 
    vertical-align:top;
    max-width:100%;
}
.photo {
    margin-bottom:12px;
}
.gist pre {
    font-size:12px;
    color:#111;
}
.icon {
    margin:2px 4px 0 0;
    opacity:0.1;
}
.icon.mail {
    margin-top:4px;
}
.thumbnail {
    width:100%;
    max-width:250px;
    height:150px;
    overflow:hidden;
    background-color:#fff;
    box-shadow:0px 4px 18px #eee;
        -webkit-box-shadow:0px 4px 18px #eee;
        -moz-box-shadow:0px 4px 18px #eee;
        -o-box-shadow:0px 4px 18px #eee;
    transition:opacity 0.2s ease;
        -webkit-transition:opacity 0.2s ease;
        -moz-transition:opacity 0.2s ease;
        -o-transition:opacity 0.2s ease;
}
.large {
    max-width:750px;
    max-height:300px;
    height:100%;
    overflow:hidden;
}
.thumbnail:hover {
    opacity:0.6;
}
.card {
    background:#333;
    padding:24px;
    height:252px;
    z-index:1;
    position:absolute;
    right:8px;
    box-shadow: -2px 1px 8px rgba(24,24,24,0.3);
        -webkit-box-shadow:-2px 1px 8px rgba(24,24,24,0.3);
        -moz-box-shadow:-2px 1px 8px rgba(24,24,24,0.3);
        -o-box-shadow:-2px 1px 8px rgba(24,24,24,0.3);
}
.card > p {
    color:#aaa;
    text-shadow:1px 1px 0px #111;
}
.card > h2 {
    color:#eee;
}
.card > .button {
    background:#555;
    color:#111;
}

/* 
    08 - Grid / Reusable
*/
.col1, .col2, .col3, .col4, .col5, .col6, 
.col7, .col8,.col9, .col10, .col11 {
    margin-right:3.8%;
    float:left;
    min-height:1px;
}
.col1 { width:4.85%; }
.col2 {width:13.45%;}
.col3 {width:22.05%;}
.col4 {width:30.75%;}
.col5 {width:39.45%;}
.col6 {width:48%;}
.col7 {width:56.75%;}
.col8 {width:65.4%;}
.col9 {width:74.05%;}
.col10 {width:82.7%;}
.col11 {width:91.35%;}
.col12 {width:100%;}
.last {margin-right:0px;}

.skip1 {padding-left:8.65%;}
.skip2 {padding-left:17.25%;}
.skip3 {padding-left:25.85%;}
.skip4 {padding-left:34.55%;}

.bgWhite {background:#fff;}

.move { position:absolute; left:-9999px; }
.block { display:block; }
.inline-block { display:inline-block; }
.inline { display:inline; }
.right { float:right !important;}
.left { float:left !important;}
.hide {display:none;}
hr { clear:both; border:0; }
#tagline > hr { padding-top:24px;}
hr.spacing { clear:both; border:0; padding:24px 0; }
hr.line { clear:both; border:0; padding:23px 0 0px; margin-bottom:24px; height:1px; border-bottom: 1px solid #ddd; }
.container:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;} .container {display:inline-block;} * html .container {height:1%;} .container {display:block;}

/*
    09 - Media Queries
*/
@media only screen and (max-width:1050px) {
    #tagline > hr { padding-top:3px; }
    h2 {
        font-size:14px;
    }
    p {
    font:400 14px/1.65 'PT Serif', Georgia, serif;
    }
}
@media only screen and (max-width:768px) {
    /* Here is where I adjust for Ipad's and similar screen
       widths. Note that the above query and this one overlap
       meaning any rules above will also apply. */
    .inner, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .skip1, .skip2, .skip3 { padding-left:0; }
    .col1, .col2, .col3, .col4, .col5, .col6, 
    .col7, .col8,.col9, .col10, .col11 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    }
    #wordmark, #tagline, #foot {
        text-align:center;
    }
    nav {
        display:none;
    }
    h2 {
        font-size:14px;
    }
    p {
        font:400 16px/1.65 'PT Serif', Georgia, serif;
        -webkit-text-size-adjust: none;
    }
    .footNav {
        margin-bottom:42px;
    }
}

/*
    10 - Print Styles (www.phpied.com/delay-loading-your-print-css/)
*/
@media print {
    * { background:transparent !important; color:#1a1a1a !important; text-shadow:none; }
    a, a:visited { color:#1a1a1a !important; text-decoration:underline; }
    a:after { content:" (" attr(href) ")"; }
    abbr:after { content:" (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content:""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border:1px solid #999; page-break-inside:avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside:avoid; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3{ page-break-after:avoid; }
}