{% extends "base.html" %}
{% block skiptext %}Your Are Lost{% endblock %}
{% block content %}
<article>
    <header>
		<h2>And where does the newborn go from here?</h2>
    </header>
</article>

<section id="latest_articles">
    <ol>
        <li>
            <p>&hellip;The net is vast and infinite. Quoted from Ghost In a Shell. Click something!</p>
        </li>
        <li>
        	<p>You still haven't clicked anything? Going back <a href="/" title="the Staydecent&trade; Blog" rel="home">home</a> is probably a safe bet.</p>
        </li>
        <li class="last">
        	<p>Or, look above and make a query. You might find some orphaned pages!</p>
        </li>
    </ol>
</section>
{% endblock %}
{% block script %}
{% endblock %}