{% extends "base.html" %}
{% block content %}

<div id="logo"></div>
<div id="mainPanel" class="clearfix">
	<p class="big col size3of5">Staydecent is a formidable force to <a href="http://collabfinder.com/person/541-adrianunger" title="Adrian Unger on Collab Finder" rel="me">collaborate</a> with in Graphic Design, Web Development &amp; <br />Art Direction.</p>
	<div class="last col size2of5">
		<p>Staydecent is the studio alias of Adrian Unger. Living in Vancouver, I work as a developer at <a href="http://enginedigital.com" title="Engine Digital" class="engine">Engine Digital</a> &amp; take on various side projects as a freelancer.</p>
		<p>I <em>really</em> like the <a href="http://www.minimalsites.com/staydecent" rel="me" title="Staydecent featured on Minimal Sites">minimal</a>, simplistic take on things.</p>
	</div>
</div>

{% endblock %}